<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Home Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network platform." />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}"/>
  </head>
  <body>

    <!-- Header
    ================================================= navbar-fixed-top -->
	<header>
      <nav th:replace="header::navbar"></nav>
    </header>
     <!--Header End-->
 
 <div class="container">
   <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
        </div>
    </div>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <p class="text-center" th:utext="${adminMessage}"></p>
            <p class="text-center">Logged user: <span sec:authentication="name"></span></p>
			<p class="text-center">Roles: <span sec:authentication="principal.authorities"></span></p>
			<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">Only visible to ADMIN</div>
        </div>
    </div>

 
</div> 
    <!-- Footer
    ================================================= -->
    <footer id="footer" th:replace="footer::footer"></footer>
    
  </body>
</html>

</body>
</html>