<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This is social network platform." />
<meta name="keywords"
	content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
<meta name="robots" content="index, follow" />
	<title>Add Category</title>

<!-- Stylesheets
    ================================================= -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

<!--Google Font-->
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i"
	rel="stylesheet">
<style>
</style>
<!--Favicon-->
<link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}" />
</head>
<body>

	<!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
		<nav th:replace="header::adminNavbar"></nav>
	</header>

	<!--Header End-->
	<div class="container">
	<h2 class="text-center">Add a Category</h2><hr/>
	<div class="col-md-2"></div>
	 <div class="col-md-8">
	 	
		<form th:action="@{/admin/category/save}" th:object="${category}" method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{categoryId}"/>
			
			<div class="form-group">
				<label>Category Name:</label>
				<input type="text" th:field="*{categoryName}" class="form-control mb-4 col-4"
						placeholder="Enter Category Name" required/>
			</div>
			
					
			<button type="submit" class="btn btn-success col-2">Add Category</button>
						
		</form>
	<hr/>
	<a th:href="@{/admin/category/all}">Back to Category List</a>	
	</div>		
	<div class="col-md-2"></div>
		
		
    </div>
    
    <br><br><br><br><br><br><br><br><br>

	<!-- Footer
    ================================================= -->
	<footer id="footer" th:replace="footer::footer"></footer>

	<!--preloader-->
	<div id="spinner-wrapper">
		<div class="spinner"></div>
	</div>

	<!-- Scripts
    ================================================= -->

	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
	<script th:src="@{/js/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>

</body>
</html>