<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network platform." />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	<title>Home | WeShare</title>

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}"/>
  </head>
  <body>

    <!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
      <nav th:replace="header::navbar"></nav>
    </header>
    
    <!--Header End-->
    
	<div class="container">

		<div class="container wrapper">
        <div class="row">
         <div class="col-sm-6 col-sm-offset-1">
            
                <!--FEEDBACK-->
                <div class="tab-pane active" id="feedback" style="margin-top: 10%;">
                  <hr><h3><img src="/images/logo.png" alt="WeShare logo" style="width: 50px; height: 50px;">    Feedback</h3><hr><hr>
                  
                  
                  <form name="feedback_form" th:action="@{/user/contact}" th:object="${feedback}" method="POST">
                  
                  <h4 style="color:green;" th:if="${success}">Feedback sent successfully!</h4>    	  
                  
                  	<div th:if="${#authorization.expression('isAuthenticated()')}">
                  		<div class="row">
		                     <div class="form-group col-xs-12">
                        		<label>Email:</label>
                        		<input th:field="*{email}" class="form-control input-group-lg" type="text"  title="Enter Email" placeholder="Enter email" readonly/>
                      		</div>
                    	</div>
                  	</div>
                  	
                  	
                    <div th:unless="${#authorization.expression('isAuthenticated()')}">
						<div class="row">
		                     <div class="form-group col-xs-12">
                        		<label>Email:</label>
                        		<input name="email" class="form-control input-group-lg" type="text"  title="Enter Email" placeholder="Enter email" required/>
                      		</div>
                    	</div>
					</div>
                     
                    
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="feedback-description">Comment:</label>
                     	<textarea class="form-control input-group-lg" name="content" placeholder="Your Comments" maxlength="3000" rows="7" required></textarea>
                      </div>
                    </div>
                    
                     <input type="submit" style="margin-top: 5px;" class="btn btn-primary" value="SEND" name="feedbackBtn">
                  </form><br>
                  <!--Feedback Form Ends--> 
                </div>
              </div>
            </div>
          </div>

	</div>


   <!-- Footer
    ================================================= -->
    <footer id="footer" th:replace="footer::footer"></footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
    <script th:src="@{/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    
  </body>
</html>
