<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network platform." />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	<title>Contact | WeShare</title>

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}"/>
  </head>
  <body>

    <!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
      <nav th:replace="header::navbar"></nav>
    </header>
    
    <!--Header End-->
    
	<div class="container">

		<div class="container wrapper">
		
			<!--FEEDBACK Heading-->
			<div class="row">
				<h2 class="col-sm-12" style="margin-top:5vh;">
					<img src="/images/logo.png" alt="WeShare logo" style="width: 70px; height: 70px;"> Feedback
					<hr>
				</h2>
			</div>
		
	        <div class="row">
			
				<!--FEEDBACK Form-->
		        <div class="col-sm-8">
					<div class="tab-pane active" id="feedback" style="margin-top: 2vh;">
	
						<form name="feedback_form" th:action="@{/user/contact}" th:object="${feedback}" method="POST">
	
							<h4 style="color:green;" th:if="${success}">Feedback sent successfully!</h4>    	  
	             
							<div th:if="${#authorization.expression('isAuthenticated()')}">
								<div class="row">
	    							<div class="form-group col-xs-12">
							     		<label>Email:</label>
							     		<input th:field="*{email}" class="form-control input-group-lg" type="text"  title="Enter Email" placeholder="Enter email" readonly/>
							   		</div>
							 	</div>
							</div>
							
							<div th:unless="${#authorization.expression('isAuthenticated()')}">
								<div class="row">
									<div class="form-group col-xs-12">
										<label>Email:</label>
										<input name="email" class="form-control input-group-lg" type="text"  title="Enter Email" placeholder="Enter email" required/>
									</div>
								</div>
							</div>
	                
	               
							<div class="row">
								<div class="form-group col-xs-12">
									<label for="feedback-description">Comment:</label>
									<textarea class="form-control input-group-lg" name="content" placeholder="Your Comments" maxlength="3000" rows="7" required></textarea>
								</div>
							</div>
	               
							<input type="submit" style="margin-top: 5px;" class="btn btn-primary" value="SEND" name="feedbackBtn">
						</form>
						<br>
	                  	<!--Feedback Form Ends--> 
					</div>
				</div>
				
				<div class="col-sm-4" style="margin: 2vh 0 0 0; border:1px solid lightgrey; border-radius:5px; padding:0px 20px 20px 20px;">
					<h3>Contact</h3>
					<hr>
					<div style="font-size:1.2em; margin-top:10px;">
						<i class="fa fa-envelope"> Email:</i>
						<a href="mailto:helpcare.weshare@gmail.com" style="margin-left:2px;">helpcare.weshare@gmail.com</a><br>
					</div>
					<div style="font-size:1.2em; margin-top:10px;">
						<i class="fa fa-map-marker"> Address:</i>
						<span style="margin-left:2px;">Ahmedabad, Gujarat, India</span><br>
					</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235014.25791824746!2d72.43965768008586!3d23.020181764579057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1608962406885!5m2!1sen!2sin" height="450" frameborder="0" style="border:0; width:100%; margin: 40px 0 -7px 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>


    <!-- Footer
    ================================================= -->
    <footer id="footer" th:replace="footer::footer"></footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
    <script th:src="@{/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    
  </body>
</html>
