<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network platform." />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	<title>Create Community | WeShare</title>

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}"/>
    <style>
     	.listCategories {
			border: '1px solid black';
			border-radius: 5px;     		
     	}
     	
    	.listCategories > li{
    		list-style: none;
    		
    	}
    </style>
  </head>
  <body>

    <!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
      <nav th:replace="header::navbar"></nav>
    </header>
    
    <!--Header End-->


		<div class="container wrapper">
        <div class="row">
         <div class="col-sm-6 col-sm-offset-1">
            
                <!--FEEDBACK-->
                <div class="tab-pane active" id="feedback" style="margin-top: 18%;">
                  <hr><h3><img src="/images/logo.png" alt="WeShare logo" style="width: 50px; height: 50px;">    Feedback</h3><hr><hr>
                  
                  
                  <form name="feedback_form"  method="POST">
                     <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="user-name" class="sr-only">your name</label>
         				<p class="text-muted">User name:</p>	
                        <input id="feedbackid" class="form-control input-group-lg" type="text"  title="Enter Username" placeholder="Enter Username"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="feedback-description" class="sr-only">description</label>
                        	<p class="text-muted"> Comment:</p>	
                     <textarea class="form-control input-group-lg" name="comments"   placeholder="Your Comments" maxlength="6000" rows="7"></textarea>
                      </div>
                    </div>
                     <input type="submit" style="margin-top: 5px;" class="btn btn-primary" value="SEND" name="feedbackBtn">
                  </form>
                  <!--Feedback Form Ends--> 
                </div>
              </div>
            </div>
          </div>


    <!-- Footer
    ================================================= -->
    <footer class="navbar navbar-fixed-bottom" th:include="footer::footer"></footer>
      
  </body>
</html>
