<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Category List</title>
</head>

<body>

<div>

	<hr/><h2>All Categories</h2><hr/>
	<div class="container">
		<div class="col-md-3">
		<table class="table table-bordered table-responsive-md">
		<thead class="thead-dark">
			<tr>
<!-- 				<th>Category ID</th> -->
				<th>Category Name</th>
			</tr>
		</thead>
		
		<tbody>
		
				<tr>
				<td>
					<a th:href="@{'/user/CommunitiesByCategory/all'}">
						<span>ALL Communities</span>
					</a>
				</td>
				</tr>
		
		
			<tr th:each="c : ${catList}">
				
<!-- 				<td th:text="${c.categoryId}" />	 -->
				
				<td>
					<a th:href="@{'/user/category/'+${c.categoryName}+'/communities'}">
						<span th:text="${c.categoryName}"></span>
					</a>
				</td>
								
			</tr>
						
		</tbody>	
		
			
	</table>
</div>

<div class="col-md-6">
		<table class="table table-bordered table-responsive-md">
		<thead class="thead-dark">
			<tr>
<!-- 				<th>Category ID</th> -->

				<th th:unless="${allCom}">Communities from 
						<span th:text="${categoryName}"></span> 
					Category
				</th>
				
				<th th:if="${allCom}">ALL Communities</th>
				
			</tr>
		</thead>
		
		<tbody>
		
		
			<tr th:each="com : ${comList}">
				<td th:text="${com.communityName}" />		
			</tr>
		</tbody>	
		
			
	</table>
	
		<div th:if="${emptyList}">
			<h5 style="font-style: italic;">Oops, no result found. Try something else or try again later!</h5>
		</div>
	
</div>
	

</div>
</div>



	
</body>
</html>