<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
			<!--  Side Bar Left  ================================================= -->
            <div class="col-md-3" th:fragment="sideBarLeft">
              <!--Edit Profile Menu-->
              <ul class="edit-menu">
              	<li th:classappend="${#httpServletRequest.getRequestURI() == '/user/manageProfile' ? 'active':''}">
              		<i class="icon ion-ios-information-outline"></i><a th:href="@{/user/manageProfile}">Basic Information</a>
              	</li>
              	
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/user/myCommunities' ? 'active':''}">
                	<i class="icon ion-ios-people-outline"></i><a th:href="@{/user/myCommunities}">My Communities</a>
                </li>
                
              	<li th:classappend="${#httpServletRequest.getRequestURI() == '/user/myPosts' ? 'active':''}">
              		<i class="icon ion-ios-compose-outline"></i><a th:href="@{/user/myPosts}">My Posts</a>
              	</li>
              	
              	<li th:classappend="${#httpServletRequest.getRequestURI() == '/user/myComments' ? 'active':''}">
              		<i class="icon ion-ios-list-outline"></i><a th:href="@{/user/myComments}">My Comments</a>
              	</li>
              	
              	<li th:classappend="${#httpServletRequest.getRequestURI() == '/user/mySavedPosts' ? 'active':''}">
              		<i class="icon ion-ios-compose-outline"></i><a th:href="@{/user/mySavedPosts}">My Saved Posts</a>
              	</li>
              	
              	<li th:classappend="${#httpServletRequest.getRequestURI() == '/user/changePassword' ? 'active':''}">
              		<i class="icon ion-ios-locked-outline"></i><a th:href="@{/user/changePassword}">Change Password</a>
              	</li>
              	
              </ul>
            </div>
            
            
		<div class="timeline-cover" th:fragment="timeline-cover">
          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img th:src="@{'https://ui-avatars.com/api/?name='+${u.userName}+'&rounded=true&background=random'}" alt="" class="img-responsive profile-photo" />
                  <h3 th:text="${u.firstName}+' '+${u.lastName}">User Full Name</h3>
                  <p class="text-muted" th:text="'u/'+${u.userName}">u/username</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="list-inline profile-menu row" style="padding: 10px;">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-4">Joined On: <span th:text="${#dates.format(u.joinedOn, 'dd-MMM-yyyy HH:mm:ss')}"></span></div>
                </div>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img th:src="@{'https://ui-avatars.com/api/?name='+${u.userName}+'&rounded=true&background=random'}" alt="" class="img-responsive profile-photo" />
              <h3 th:text="${u.firstName}+' '+${u.lastName}">User Full Name</h3>
             <p class="text-muted" th:text="'u/'+${u.userName}">u/username</p>
            </div>
            <!--<div class="mobile-menu">
              <ul class="list-inline">
                <li><a href="timline.html">Timeline</a></li>
                <li><a href="timeline-about.html" class="active">About</a></li>
                <li><a href="timeline-album.html">Album</a></li>
                <li><a href="timeline-friends.html">Friends</a></li>
              </ul>
              <button class="btn-primary">Add Friend</button>
            </div>-->
          </div><!--Timeline Menu for Small Screens End-->

        </div>
            
            
            
	</body>
</html>