<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This is social network platform." />
<meta name="keywords"
	content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
<meta name="robots" content="index, follow" />
<title>Home | WeShare</title>

<!-- Stylesheets
	    ================================================= -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

<!--Google Font-->
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i"
	rel="stylesheet">

<style>
	ul>li {
		font-size: 1.3em;
		text-indent: 5px;
	}
	.paginator {
		margin-top:-20px;
	}
	
	@media screen and (max-width: 768px) {
		.paginator {
			margin-top:-80px;
		}
	}
	
	.save-unsave-btn {
   		margin: 5px 10px; 
   		font-size: 1.5rem;
   		text-decoration: none; 
   		color: #00ab44; 
   		border: none; 
   		background-color: white; 
   		padding: 10px; 
   		border-radius: 5px;
   	}
   	
   	.save-unsave-btn:hover {
   		background-color:#00ab44;
   		color:white; 
   		cursor: pointer;
   	}
   	
   	.sort {
		display:flex;
		background-color: #dadada;
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-between;
	}
	.sort > .sort-item {
		margin: 10px;
		padding: 10px 10px;
		font-size: 1.8rem;
		background-color:white;
		flex-grow: 1;
		text-align: center;
	}
	
	.sort-btn {
		margin-right: 5px;
	}
	.sort-btn:hover {
		transform: scale(1.05);
		transition: transform 300ms;
	}
</style>

<!--Favicon-->
<link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}" />
</head>
<body>

	<!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
		<nav th:replace="header::navbar"></nav>
	</header>

	<!--Header End-->


	<!--<div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <p class="text-center" th:utext="${userMessage}"></p>
        </div>
    </div>-->

	<div class="container" style='margin-top:5vh;'>
		<div class="row">
			<div class="col">
				<div class="col-md-9">
					<!-- <div class="sort">
						<div class="sort-item">Most Liked</div>
						<div class="sort-item">Most Commented</div>
						<div class="sort-item">Newest</div>
					</div>-->
					<div>
						<a href="/user/home/top" ><button class="btn btn-default sort-btn">Most Liked</button></a>
						<a href="/user/home/popular" ><button class="btn btn-default sort-btn">Most Commented</button></a>
						<a href="/user/home" ><button class="btn btn-default sort-btn">Newest</button></a>
					</div>
					<br>
					<div>

						<div th:if="${noPosts}">
							<h3 style="font-style: italic; color: black;">Join any
								community or Post something.</h3>
							<hr />
							<div>
								<a th:href="@{'/user/category/all/communities'}"
									class="btn btn-primary">Go to all communities</a>
							</div>
						</div>

						<div class="post-content" th:each="post: ${posts}">
							<div class="post-container">
								<div class="post-detail text-justify" style="margin-left: 0px;">
									<div class="user-info">
										<div class="row">
											<div class="col-xs-9 text-justify">
												<a th:href="@{'/user/community/'+${post.community.communityName}+'/'+${post.postId}}" class="profile-link">
													<h3 th:text="${post.title}"></h3>
												</a>
											</div>
											
											<div class="reaction col-xs-3" th:with="vote=${voteService.findByPostAndUser(post, user)}" style="position:relative; right:-20px;">
	
												<span th:if="${user == null}">
													<button onclick="votePostNotSignIn()"
														class="upvoteBtn btn text-muted icon ion-thumbsup"
														style="font-size: 2.5rem; background-color: white"></button>
												</span> <span th:if="${user != null}"> <span
													th:if="${vote == null or vote.vote == -1}">
														<button th:id="'upvote' + ${post.postId}"
															th:onclick=" 'upvote(' + ${post.postId} + ', this)' "
															class="upvoteBtn btn text-muted icon ion-thumbsup"
															style="font-size: 2.5rem; background-color: white"></button>
												</span> <span th:if="${vote != null and vote.vote == 1}">
														<button th:id="'upvote' + ${post.postId}"
															th:onclick=" 'upvote(' + ${post.postId} + ', this)' "
															class="upvoteBtn btn text-green icon ion-thumbsup"
															style="font-size: 2.5rem; background-color: white"></button>
												</span>
												</span> <span th:id="'score' + ${post.postId}"
													th:text=" ${post.score}"
													style="font-size: 2.0rem; padding: 15px"></span> <span
													th:if="${user == null}">
													<button onclick="votePostNotSignIn()"
														class="downvoteBtn btn text-muted fa fa-thumbs-down"
														style="font-size: 2.5rem; padding: 10px; background-color: white"></button>
												</span> <span th:if="${user != null}"> <span
													th:if="${vote == null or vote.vote == 1}">
														<button th:id="'downvote' + ${post.postId}"
															th:onclick=" 'downvote(' + ${post.postId} + ', this)' "
															class="downvoteBtn btn text-muted fa fa-thumbs-down"
															style="font-size: 2.5rem; padding: 10px; background-color: white"></button>
												</span> <span th:if="${vote != null and vote.vote == -1}">
														<button th:id="'downvote' + ${post.postId}"
															th:onclick=" 'downvote(' + ${post.postId} + ', this)' "
															class="downvoteBtn btn text-red fa fa-thumbs-down"
															style="font-size: 2.5rem; padding: 10px; background-color: white"></button>
												</span>
												</span>
	
											</div>
										</div>	
										
										<p class="text-muted"
											th:text="'posted by ' + ${post.user.userName} + ' on ' + ${#dates.format(post.creationDate, 'dd-MMM-yyyy HH:mm:ss')}"></p>
										<span
											th:text=" '&nbsp;&nbsp;' + ${post.commentsNum} + '&nbsp;&nbsp;comments '"
											class="following ion-compose"
											style="font-size: 1.5rem; margin: 0px; padding: 0px;"></span>

										<span
											th:with="isPostSaved=${savePostService.findByPostAndUser(post,user)}">

											<span th:unless="${isPostSaved}">
												<button class="fa fa-bookmark-o save-post save-unsave-btn"
													style="font-size: 1.5rem; cursor: pointer; text-decoration: none; border: none;"
													th:value="${post.postId}">&nbsp;Save</button>
										</span> <span th:if="${isPostSaved}">
												<button class="fa fa-bookmark unsave-post save-unsave-btn"
													style="font-size: 1.5rem; cursor: pointer; text-decoration: none; border: none;"
													th:value="${post.postId}">&nbsp;Unsave</button>
										</span>
										</span>

									</div>

									


									<div class="post_with_content" th:if="${post.content}">
										<div class="line-divider"></div>
										<div class="post-text text-justify">
											<span th:utext="${#strings.abbreviate(post.content, 600)}"
												class="short-description" style="font-size: 1.8rem"></span>
										</div>
									</div>

									<div class="post_with_link" th:if="${post.link}">
										<div class="line-divider"></div>
										<div class="post-text text-justify">
											<a th:href="${post.link}" th:text="${post.link}"
												style="font-size: 1.8rem" target="_blank"></a>
										</div>
									</div>

									<div class="post_with_media" th:if="${post.imageUrl}" style="display:grid;align-items:center; justify-items:center;">
										<div class="line-divider"></div>
										<img th:src="'/postImages/' + ${post.postId} + '.png'"
											alt="post-image" class="img-responsive post-image" style="max-height:500px; max-width:700px;" />
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div th:if="${!posts.isEmpty()}">	
					<div class="row page">
						<div class="form-group  col-xs-12 col-md-3">
							<div class="row" style="margin-bottom: 40px;">
	                        	<div class="col-xs-3 h4">
			                        Page: 
			                    </div>
			                    <div class="col-xs-9">
			                        <select class="form-control pagination" id="pageSizeSelect" style="margin-top:0px;">
			                            
										<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}">
											<span th:text="${pageSize}"></span>
		                                </option>
			                             
			                        </select>
			                    </div>
	                        </div>
						</div>
						<div class="col-xs-1"></div>
						<div th:if="${posts.totalPages != 1}" class="form-group col-xs-10 col-md-9 pagination-centered paginator">
							<ul class="pagination">
								<li th:class="${posts.number == 0} ? disabled"><a
									th:if="${user == null}" class="pageLink"
									th:href="@{''(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
									<a th:if="${user != null}" class="pageLink"
									th:href="@{''(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
								</li>
								<li th:class="${posts.number == 0} ? disabled"><a
									th:if="${user == null}" class="pageLink"
									th:href="@{''(pageSize=${selectedPageSize}, page=${posts.number})}">&larr;</a>
									<a th:if="${user != null}" class="pageLink"
									th:href="@{''(pageSize=${selectedPageSize}, page=${posts.number})}">&larr;</a>
								</li>
								<li
									th:class="${posts.number == (page - 1)} ? 'active pointer-disabled'"
									th:each="page : ${#numbers.sequence(postsPager.firstButton, postsPager.finalButton)}">
									<a th:if="${user == null}" class="pageLink"
									th:href="@{'' (pageSize=${selectedPageSize}, page=${page})}"
									th:text="${page}"></a> <a th:if="${user != null}"
									class="pageLink"
									th:href="@{'' (pageSize=${selectedPageSize}, page=${page})}"
									th:text="${page}"></a>
								</li>
								<li
									th:class="${posts.number + 1 == posts.totalPages} ? disabled">
									<a th:if="${user == null}" class="pageLink"
									th:href="@{'' (pageSize=${selectedPageSize}, page=${posts.number + 2})}">&rarr;</a>
									<a th:if="${user != null}" class="pageLink"
									th:href="@{'' (pageSize=${selectedPageSize}, page=${posts.number + 2})}">&rarr;</a>
								</li>
								<li
									th:class="${posts.number + 1 == posts.totalPages} ? disabled">
									<a th:if="${user == null}" class="pageLink"
									th:href="@{'' (pageSize=${selectedPageSize}, page=${posts.totalPages})}">&raquo;</a>
									<a th:if="${user != null}" class="pageLink"
									th:href="@{'' (pageSize=${selectedPageSize}, page=${posts.totalPages})}">&raquo;</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-1"></div>
					</div>
					</div>
				</div>
				
				<aside>

					<div class=" col-md-offset-9">
						<div style="border: 1px solid lightgrey; border-radius:5px; padding: 20px;">
							<h3 style="text-align: left; font-size:2.2rem;" class="grey">Popular Communities</h3>
							<hr style="border: 0.5px solid black;">
							<ul th:each="community: ${topCommunities}">
								<li><a
									th:href=" '/user/community/' + ${community.communityName}"
									th:text="${community.communityName}"></a></li>
							</ul>
						</div>
					</div>

					<div th:unless="${notJoined}" class="md-3 col-md-offset-9">
						<div
							style="margin-top: 20px; border: 1px solid lightgrey; border-radius:5px; padding: 20px;">
							<h3 style="text-align: left; font-size:2.2rem;" class="grey">Joined
								Communities</h3>

							<hr style="border: 0.5px solid black;">
							<ul th:each="community: ${joinedCommunities}">
								<li><a
									th:href=" '/user/community/' + ${community.communityName}"
									th:text="${community.communityName}"></a></li>
							</ul>

						</div>
					</div>
				</aside>
			</div>
			<br>
		</div>
	</div>

	<br>

	<!-- Footer
    ================================================= --
	<footer id="footer" th:replace="footer::footer"></footer>-->
	<footer class="navbar navbar-fixed-bottom" th:include="footer::footer"></footer>

	<!--preloader-->
	<div id="spinner-wrapper">
		<div class="spinner"></div>
	</div>

	<!-- Scripts
    ================================================= -->

	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
	<script th:src="@{/js/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/upvote.js}"></script>
	<script th:src="@{/js/downvote.js}"></script>
	<script th:src="@{/js/savePost.js}"></script>
	<script th:src="@{/js/unsavePost.js}"></script>
	
	<script>
		$("#pageSizeSelect").change(function() {
			var pageSize = $('option:selected', $(this)).text();
			var curr_url = window.location.href;
			var beforeQueMark = curr_url.split('?')[0];
			var afterQueMark = curr_url.split('?')[1];
			
			var fina_url = beforeQueMark + '?pageSize=' + pageSize;
	        window.location = fina_url;
	    });
	</script>

</body>
</html>
