<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network platform." />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	<title>Edit Profile | WeShare</title>

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}"/>
  </head>
  <body>

    <!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
      <nav th:replace="header::navbar"></nav>
    </header>
    
    <!--Header End-->

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
      		<div th:replace="user/fragments::timeline-cover"></div>
      		
        <div id="page-contents">
          <div class="row">
          
          	<!--  Side Bar Left  ================================================= -->
      		<div th:replace="user/fragments::sideBarLeft"></div>
            
            <div class="col-md-9">

              <!-- Basic Information
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Edit basic information</h4>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                <div name="basic-info" id="basic-info" class="form-inline">
                <form th:action="@{/user/manageProfile/save}" th:object="${u}" method="POST">	
                   <div class="row">
                      <div class="form-group col-sm-8">
                        <label for="username">Username</label>
                        <input id="username" class="form-control input-group-lg" type="text" th:field="*{userName}"
                         title="Your Username" placeholder="My Username" readonly style="background-color: white; cursor:pointer;"/>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="form-group col-sm-8">
                        <label for="email">Email</label>
                        <input id="email" class="form-control input-group-lg" type="text" th:field="*{email}"
                         title="Your Email" placeholder="My Email" readonly style="background-color: white; cursor:pointer;"/>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="form-group col-sm-8">
                        <label for="firstname">First Name</label>
                        <input id="firstname" class="form-control input-group-lg" type="text" th:field="*{firstName}" 
                         title="Your first name" placeholder="First name"/>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="form-group col-sm-8">
                        <label for="lastname" class="">Last Name</label>
                        <input id="lastname" class="form-control input-group-lg" type="text" th:field="*{lastName}" 
                        title="Your last name" placeholder="Last name"/>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-sm-3">
                        <button class="btn btn-primary">Save Changes</button>
                      </div>
                    </div>
                    
                   </form>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer
    ================================================= -->
    <footer id="footer" th:replace="footer::footer"></footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
    <script th:src="@{/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    
  </body>
</html>
