<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network platform." />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	<title>My Comments | WeShare</title>

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}"/>
    <style>
    	.post-container {
    		margin-top:20px; 
    		background-color:#f8f8f8;
    		border-radius: 5px; 
    		padding:25px; 
    	}
    	.post-container:hover {
    		background-color: #f0f0f0;
    	}
    	i.icon {
    		margin-right: 5px;
    	}
    	.comment-date-time {
    		margin: 5px 0px;
    	}
    	.comment-description {
    		margin: 15px 0px;
    		padding: 0px 10px;
    		text-align: justify;
    		border-left: 2px solid lightgrey;
    	}
    </style>
  </head>
  <body>

    <!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
      <nav th:replace="header::navbar"></nav>
    </header>
    
    <!--Header End-->

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
       	<div class="timeline-cover">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img th:src="@{'https://ui-avatars.com/api/?name='+${u.userName}+'&rounded=true&background=random'}" alt="" class="img-responsive profile-photo" />
                  <h3 th:text="${u.firstName}+' '+${u.lastName}">User Full Name</h3>
                  <p class="text-muted" th:text="'u/'+${u.userName}">u/username</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="list-inline profile-menu row" style="padding: 10px;">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-4">Joined On: <span th:text="${u.joinedOn}"></span></div>
                </div>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img th:src="@{'https://ui-avatars.com/api/?name='+${u.userName}+'&rounded=true&background=random'}" alt="" class="img-responsive profile-photo" />
              <h3 th:text="${u.firstName}+' '+${u.lastName}">User Full Name</h3>
             <p class="text-muted" th:text="'u/'+${u.userName}">u/username</p>
            </div>
            <!--<div class="mobile-menu">
              <ul class="list-inline">
                <li><a href="timline.html">Timeline</a></li>
                <li><a href="timeline-about.html" class="active">About</a></li>
                <li><a href="timeline-album.html">Album</a></li>
                <li><a href="timeline-friends.html">Friends</a></li>
              </ul>
              <button class="btn-primary">Add Friend</button>
            </div>-->
          </div><!--Timeline Menu for Small Screens End-->

        </div>
        
        <div id="page-contents">
    		<div class="row">
		  
	          <!-- Side Bar Left
	          ================================================= -->
	    	  <div class="col-md-3">
				  <!-- Profile Sidebar Menu -->
		          <div id="sticky-sidebar">
		              <!--Edit Profile Menu-->
		              <ul class="edit-menu">
		              	<li><i class="icon ion-ios-information-outline"></i><a th:href="@{/user/manageProfile}">Basic Information</a></li>
		                <li><i class="icon ion-ios-people-outline"></i><a th:href="@{/user/myCommunities}">My Communities</a></li>
		              	<li><i class="icon ion-ios-compose-outline"></i><a th:href="@{/user/myPosts}">My Posts</a></li>
		              	<li class="active"><i class="icon ion-ios-list-outline"></i><a th:href="@{/user/myComments}">My Comments</a></li>
		              	<li><i class="icon ion-ios-locked-outline"></i><a th:href="@{/user/changePassword}">Change Password</a></li>
		              </ul>
		          </div>
	          </div>
	          <!-- Side Bar Right
	          ================================================= -->
	    	  <div class="col-md-9">
	              
	              <div class="post-container">
	                <div class="post-detail">
	                  <div class="user-info" style="margin-left:10px;">
	                  	<div class="row" style="word-spacing: 2px;">
	                    	<span class="h4 col-md-*"><a class="profile-link" href="#">Post Title</a></span>
	                    	<span class="h5 col-md-*"> by <i class="icon ion-ios-person"></i>Creator</span>
	                    	<span class="h5 col-md-*"> in CommunityName</span>
	                    </div>
                    	<div class="icon ion-ios-list-outline comment-date-time">
                    		Commented On: Date
                    	</div>
	                    <p class="text-muted comment-description short-description">My Comment</p>
	                  </div>
	                </div>
	              </div>
	              
	              <div class="post-container">
	                <div class="post-detail">
	                  <div class="user-info" style="margin-left:10px;">
	                  	<div class="row" style="word-spacing: 2px;">
	                    	<span class="h4 col-md-*"><a class="profile-link" href="#">Post Title</a></span>
	                    	<span class="h5 col-md-*"> by <i class="icon ion-ios-person"></i>Creator</span>
	                    	<span class="h5 col-md-*"> in CommunityName</span>
	                    </div>
                    	<div class="icon ion-ios-list-outline comment-date-time">
                    		Commented On: Date
                    	</div>
	                    <p class="text-muted comment-description short-description">
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
	                  </div>
	                </div>
	              </div>
	            
	          </div>
	          
    		</div>
    	  </div>
        </div>
        
    </div>


    <!-- Footer
    ================================================= -->
    <footer id="footbar" th:include="footer::footer"></footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
    <script th:src="@{/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script>
	 	// Limit Board Description
	    function truncateText(element, maxLength) {
	        let truncated = element.innerText;
	        if (truncated.length > maxLength) {
	            truncated = truncated.substr(0, maxLength) + '...';
	        }
	        //return truncated;
	        element.innerText = truncated;
	    }
	    let countBDesc = document.querySelectorAll('.short-description');
	    for(let i=0; i<countBDesc.length; i++)
	    {
	        truncateText(countBDesc[i], 150);
	    }
    </script>
  </body>
</html>
