<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network platform." />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	<title>My Communities | WeShare</title>

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}"/>
    <style>
    	.post-container {
    		margin-top:20px; 
    		background-color:#f8f8f8;
    		border-radius: 5px; 
    		padding:20px; 
    	}
    	.post-container:hover {
    		background-color: #f0f0f0;
    	}
    	i.icon {
    		margin-right: 5px;
    	}
    	.post-description {
    		margin-top: 10px;
    	}
    </style>
  </head>
  <body>

    <!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
      <nav th:replace="header::navbar"></nav>
    </header>
    
    <!--Header End-->

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
      		<div th:replace="user/fragments::timeline-cover"></div>
        
        <div id="page-contents">
    		<div class="row">
		  
          	<!--  Side Bar Left  ================================================= -->
      		<div th:replace="user/fragments::sideBarLeft"></div>
	          
	          <!-- Side Bar Right
	          ================================================= -->
	    	  <div class="col-md-9">
	              
	              <div th:each="com : ${myComList}" class="post-container">
	                <img th:src="@{'https://ui-avatars.com/api/?name='+${com.communityName}+'&rounded=true&background=random'}" alt="user" class="profile-photo-md pull-left" />
	                <div class="post-detail">
	                  <div class="user-info" style="margin-left:70px;">
	                    <h4><a class="profile-link" th:href="@{/user/community/{communityName}(communityName=${com.communityName})}" th:text="${com.communityName}">Community Name</a></h4>
						<div class="row">
	                      <span class="col-md-6"><i class="icon ion-android-calendar"> </i> Created On: <span th:text="${#dates.format(com.creationDate, 'dd-MMM-yyyy HH:mm:ss')}"></span></span>
	                      <span class="col-md-6"> <i class="icon ion-ios-person"> </i> Members: <span th:text="${com.membersCount}"></span></span>
	                    </div>
	                    <p class="text-muted post-description" 
	                    		th:text="'Description: '+${#strings.abbreviate(com.communityDescription, 300)}">Community Description</p>
	                  </div>
	                </div>
	              </div>
	              
	              
	             <div th:if="${emptyList}">
					<h3 style="font-style: italic; color:black;">You haven't created any community!</h3><hr/>
					<div>
                			<a th:href="@{'/user/community/insert'}" class="btn btn-primary">Click to create community</a>
              		</div>
				</div>
	              
	            
	          </div>
	          
    		</div>
    	  </div>
        </div>
        
    </div>


    <!-- Footer
    ================================================= -->
    <footer id="footbar" th:include="footer::footer"></footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
    <script th:src="@{/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    
    <script>
		let timelineCover = document.getElementById("timelineCover");
		let num = Math.floor(Math.random() * 5) + 1;
		timelineCover.classList.add("timeline-cover-image-"+(num));
		console.log(num);
    </script>
    
<!--     <script>
	 	// Limit Board Description
	    function truncateText(element, maxLength) {
	        let truncated = element.innerText;
	        if (truncated.length > maxLength) {
	            truncated = truncated.substr(0, maxLength) + '...';
	        }
	        //return truncated;
	        element.innerText = truncated;
	    }
	    let countBDesc = document.querySelectorAll('.short-description');
	    for(let i=0; i<countBDesc.length; i++)
	    {
	        truncateText(countBDesc[i], 150);
	    }
    </script> -->
  </body>
</html>
