<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This is social network platform." />
<meta name="keywords"
	content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
<meta name="robots" content="index, follow" />
<title>Home | WeShare</title>

<!-- Stylesheets
    ================================================= -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

<!--Google Font-->
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i"
	rel="stylesheet">
<style>
</style>
<!--Favicon-->
<link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}" />
</head>
<body>

	<!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
		<nav th:replace="header::navbar"></nav>
	</header>

	<!--Header End-->

	<div class="container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="col-md-10">
						<div style="padding: 20px;">
				
						<div th:if="${noPosts}">
							<h3 style="color: black;">No Post found for <span style="font-style: italic; color: blue;" th:text="${query}"></span>.</h3>
							<hr />
							<div>
								<a th:href="@{'/user/category/all/communities'}"
									class="btn btn-primary">Go to all communities</a>
							</div><br><br><br><br><br><br><br><br><br><br><br><br><br>
						</div>

							<div class="post-content" th:each="post: ${posts}">
								<div class="post-container">
									<div class="post-detail" style="margin-left: 0px;">
										<div class="user-info">
											<a
												th:href="@{'/user/community/'+${post.community.communityName}+'/'+${post.postId}}"
												class="profile-link">
												<h2 th:text="${post.title}"></h2>
											</a>
											<p class="text-muted"
												th:text="'posted by ' + ${post.user.userName} + ' on ' + ${#dates.format(post.creationDate, 'dd-MMM-yyyy HH:mm:ss')}"></p>
											<span
												th:text=" '&nbsp;&nbsp;' + ${post.commentsNum} + '&nbsp;&nbsp;comments '"
												class="following ion-compose"
												style="font-size: 1.5rem; margin: 0px; padding: 0px;"></span>

											<span
												th:with="isPostSaved=${savePostService.findByPostAndUser(post,user)}">

												<span th:unless="${isPostSaved}">
													<button class="fa fa-bookmark-o save-post"
														style="font-size: 1.5rem; cursor: pointer; text-decoration: none; color: #00ab44; border: none;"
														th:value="${post.postId}">Save</button>
											</span> <span th:if="${isPostSaved}">
													<button class="fa fa-bookmark unsave-post"
														style="font-size: 1.5rem; cursor: pointer; text-decoration: none; color: #00ab44; border: none;"
														th:value="${post.postId}">Unsave</button>
											</span>
											</span> </span>

										</div>

										<div class="reaction"
											th:with="vote=${voteService.findByPostAndUser(post, user)}">

											<span th:if="${user == null}">
												<button onclick="votePostNotSignIn()"
													class="upvoteBtn btn text-muted icon ion-thumbsup"
													style="font-size: 2.5rem; background-color: white"></button>
											</span> <span th:if="${user != null}"> <span
												th:if="${vote == null or vote.vote == -1}">
													<button th:id="'upvote' + ${post.postId}"
														th:onclick=" 'upvote(' + ${post.postId} + ', this)' "
														class="upvoteBtn btn text-muted icon ion-thumbsup"
														style="font-size: 2.5rem; background-color: white"></button>
											</span> <span th:if="${vote != null and vote.vote == 1}">
													<button th:id="'upvote' + ${post.postId}"
														th:onclick=" 'upvote(' + ${post.postId} + ', this)' "
														class="upvoteBtn btn text-green icon ion-thumbsup"
														style="font-size: 2.5rem; background-color: white"></button>
											</span>
											</span> <span th:id="'score' + ${post.postId}"
												th:text=" ${post.score}"
												style="font-size: 2.0rem; padding: 15px"></span> <span
												th:if="${user == null}">
												<button onclick="votePostNotSignIn()"
													class="downvoteBtn btn text-muted fa fa-thumbs-down"
													style="font-size: 2.5rem; padding: 10px; background-color: white"></button>
											</span> <span th:if="${user != null}"> <span
												th:if="${vote == null or vote.vote == 1}">
													<button th:id="'downvote' + ${post.postId}"
														th:onclick=" 'downvote(' + ${post.postId} + ', this)' "
														class="downvoteBtn btn text-muted fa fa-thumbs-down"
														style="font-size: 2.5rem; padding: 10px; background-color: white"></button>
											</span> <span th:if="${vote != null and vote.vote == -1}">
													<button th:id="'downvote' + ${post.postId}"
														th:onclick=" 'downvote(' + ${post.postId} + ', this)' "
														class="downvoteBtn btn text-red fa fa-thumbs-down"
														style="font-size: 2.5rem; padding: 10px; background-color: white"></button>
											</span>
											</span>

										</div>


										<div class="post_with_content" th:if="${post.content}">
											<div class="line-divider"></div>
											<div class="post-text text-justify">
												<span th:utext="${#strings.abbreviate(post.content, 1000)}"
													class="short-description" style="font-size: 1.8rem"></span>
											</div>
										</div>

										<div class="post_with_link" th:if="${post.link}">
											<div class="line-divider"></div>
											<div class="post-text text-justify">
												<a th:href="${post.link}" th:text="${post.link}"
													style="font-size: 1.8rem" target="_blank"></a>
											</div>
										</div>

										<div class="post_with_media" th:if="${post.imageUrl}">
											<div class="line-divider"></div>
											<img th:src="'/postImages/' + ${post.postId} + '.png'"
												alt="post-image" class="img-responsive post-image" />
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- Footer
    ================================================= -->
	<footer id="footer" th:replace="footer::footer"></footer>

	<!--preloader-->
	<div id="spinner-wrapper">
		<div class="spinner"></div>
	</div>

	<!-- Scripts
    ================================================= -->

	<script>
		function votePostNotSignIn() {
            alert("Please login or register to vote!");
        }
	</script>

	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
	<script th:src="@{/js/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/upvote.js}"></script>
	<script th:src="@{/js/downvote.js}"></script>
	<script th:src="@{/js/savePost.js}"></script>
	<script th:src="@{/js/unsavePost.js}"></script>

</body>
</html>
