<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>View Community</title>
</head>

<body>

<div class="container">
		<hr/><h1 th:text=${communityName}></h1><hr/>

	<div th:unless="${exist}">
		<a th:href="@{'/user/community/'+${communityName}+'/join'}">
			<button type="submit" class="btn btn-success col-2">Join</button>
		</a>
	</div>
	
	<div th:if="${exist}">
		<a th:href="@{'/user/community/'+${communityName}+'/leave'}">
			<button type="submit" class="btn btn-danger col-2">Leave</button>
		</a>
	</div>
		
		
		<hr>
	</div>
	
</body>
</html>