<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network platform." />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	<title>Error</title>

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}"/>
	
	<style>
		.center {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top:10%;
		  width: 50%;
		}
		
		.btn.btn-default {
			font-size:1.5rem;
			border:none;
		}
		
		.btn.btn-default:hover {
			transform: scale(1.05);
        	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        	background-color: white;
        	transition: transform 300ms;
		}
	</style>
  </head>
  <body id="error404">

    <!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
			<nav th:replace="header::adminNavbar"></nav>
		</div>
		
		<div th:if="${#authorization.expression('hasAuthority(''USER'')')}">
			<nav th:replace="header::navbar"></nav>
		</div>
	
	
      
    </header>
    
    <!--Header End-->

    <div id="page-contents">
    	<div class="container">
    		<div class="row">
		  
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="text-center" style="font-size:xx-large; margin-top:60vh;">
						<p th:text="${errorMsg}" style="font-size:2.5rem;margin-left:2vw;"></p>
						<br/>
						<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
							<u><a th:href="@{/admin/home}" class="btn btn-default">BACK TO HOME PAGE</a></u>
						</div>
						
						<div th:if="${#authorization.expression('hasAuthority(''USER'')')}">
							<u><a th:href="@{/user/home}" class="btn btn-default">BACK TO HOME PAGE</a></u>
						</div>
						
					</div>
				</div>
				
				<!-- <img class="center"  alt="" th:src="@{/images/error-404.gif}"> -->
          		
    		</div>
    	</div>
    </div>


    <!-- Footer
    ================================================= -->
    <footer class="navbar navbar-fixed-bottom" th:include="footer::footer"></footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
    <script th:src="@{/js/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    
  </body>
</html>
