<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network html5 template available in themeforest......" />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	
	<title>WeShare | Communities Network</title>

    <!-- Stylesheets
    ================================================= -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{css/style.css}" />
	<link rel="stylesheet" th:href="@{css/ionicons.min.css}" />
   	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png"/>
	</head>
	<body>

    <!-- Header
    ================================================= -->
	<header id="header-inverse">
      <nav th:replace="header::navbar"></nav>
    </header>
    <!--Header End-->
    
    <!-- Landing Page Contents
    ================================================= -->
    <div id="lp-register">
    	<div class="container wrapper">
        <div class="row">
          <div class="col-sm-5">
            <div class="intro-texts text-justify">
            	<h1 class="text-white"><span class="label label-primary" style="font-size: 2.5rem;">Community Contribution !!!</span></h1>
            	<p>WeShare is a social network platform which connects people through Communities. You can search &amp; join communities. You can even create your own communities.
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-1">
            <div class="reg-form-container"> 
            
              <!-- Register/Login Tabs-->
              <div class="reg-options">
                <ul class="nav nav-tabs">
                	<li th:classappend="${classActiveRegister}? 'active'">
						<a href="#register" data-toggle="tab">
							Register
						</a>
					</li>
					<li th:classappend="${classActiveLogin}? 'active'">
						<a href="#login" data-toggle="tab">
							Login
						</a>
					</li>
                </ul><!--Tabs End-->
              </div>
              
              <!-- Login and Registration Forms -->
              <div class="tab-content">
                <div class="tab-pane" id="register" th:classappend="${classActiveRegister}? 'in active'">
                	
                	<div class="alert alert-success" th:if="${successMessage}">
						<h4 th:text="${successMessage}"></h4>	
					</div>
					
                  <h3>Register</h3>
                  <p class="text-muted">Join hands for community contribution</p>
                  
                  <!--Register Form-->
                  <form name="registration_form" id='registration_form' class="form-inline" 
                  		method="post" th:action="@{/registration}" th:object="${user}">
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="username" class="sr-only">Username</label>
                        <input id="username" class="form-control input-group-lg" type="text" placeholder="Enter Username" data-validation="custom length" data-validation-length="min3"
                        	 th:field="*{userName}"/>
                       	<h5 th:if="${#fields.hasErrors('userName')}" style="color:red;" th:errors="*{userName}"></h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="firstname" class="sr-only">First Name</label>
                        <input id="firstname" class="form-control input-group-lg" type="text" placeholder="Enter First Name" data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$"  data-validation-length="min2"
                        	th:field="*{firstName}"/>
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>	
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="lastname" class="sr-only">Last Name</label>
                        <input id="lastname" class="form-control input-group-lg" type="text" placeholder="Enter Last Name" data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$"  data-validation-length="min2"
                        	th:field="*{lastName}"/>
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email" class="sr-only">Email</label>
                        <input id="regEmail" class="form-control input-group-lg" type="text" placeholder="Enter Email" data-validation="email"
                        	th:field="*{email}"/>
                        <h5 th:if="${#fields.hasErrors('email')}" style="color:red;" th:errors="*{email}"></h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="password" class="sr-only">Password</label>
                        <input id="regPassword" class="form-control input-group-lg" type="password" name="regPassword" placeholder="Enter Password" data-validation-length="min8,max32" data-validation="length"
                        	th:field="*{password}"/>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="cnfPassword" class="sr-only">Confirm Password</label>
                        <input id="cnfPassword" class="form-control input-group-lg" type="password" name="cnfPassword" title="Confirm password" placeholder="Confirm Password" data-validation="confirmation required" data-validation-confirm="regPassword"/>
                      </div>
                    </div> -->
                    <input type="submit" style="margin-top: 10px;" class="btn btn-primary" value="Register" name="regBtn">
                  </form>
                  
                  <!-- <h2><span class="text-success" th:utext="${successMessage}"></span></h2> -->
                  <!--Register Now Form Ends-->
                </div>
                
                <!--Login-->
                <div class="tab-pane" id="login" style="margin-top: 5%;" th:classappend="${classActiveLogin}? 'in active'">
                
                <div class="alert alert-danger" th:if="${param.error != null}">
						<h4>Incorrect username or password. Try again!</h4>	
				</div>
				
                  <h3>Login</h3>
                  <p class="text-muted">Log into your account</p>
                  <!--Login Form-->
                  <form name="Login_form" id='Login_form' th:action="@{/login}" method="POST">
                     <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="my-email" class="sr-only">Email</label>
                        <input id="loginEmail" class="form-control input-group-lg" type="text" name="username" title="Enter Username" 
                        		placeholder="Enter Username" required/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="loginPassword" class="sr-only">Password</label>
                        <input id="loginPassword" class="form-control input-group-lg" type="password" name="password" title="Enter password" 
                        		placeholder="Enter Password" required/>
                      </div>
                    </div>
                    <p><a href="#">Forgot Password?</a></p>
                    <input type="submit" style="margin-top: 5px;" class="btn btn-primary" value="Login" name="loginBtn">
                  </form>
                  <!--Login Form Ends--> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    
    <!-- Scripts
    ================================================= -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.appear.min.js"></script>
    <script src="js/jquery.incremental-counter.js"></script>
    <!--<script src="js/form-validator.min.js}"></script>-->
    <script src="js/script.js"></script>
    
    <!-- CDN -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <script>
      $.validate({
          modules : 'date, security'
      });
    </script>
	</body>
</html>
