<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This is social network platform." />
<meta name="keywords"
	content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
<meta name="robots" content="index, follow" />
<title>View Community | WeShare</title>

<!-- Stylesheets
    ================================================= -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

<!--Google Font-->
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i"
	rel="stylesheet">

<!--Favicon-->
<link rel="shortcut icon" type="image/png" th:href="@{/images/fav.png}" />
<style>
.sort-btn {
	margin-right: 5px;
}

.sort-btn:hover {
	transform: scale(1.05);
	transition: transform 300ms;
}
</style>
</head>
<body>

	<!-- Header
    ================================================= navbar-fixed-top -->
	<header id="header">
		<nav th:replace="header::navbar"></nav>
	</header>

	<!--Header End-->
	<div id="page-contents">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="post-content">
						<div class="post-container">
							<img
								th:src="@{'https://ui-avatars.com/api/?name='+${com.communityName}+'&rounded=true&background=random'}"
								alt="user" class="profile-photo-md pull-left" />
							<div class="post-detail">
								<div class="user-info">
									<h4 th:text=${com.communityName}>
										<a href="#" class="profile-link"></a>
									</h4>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 10px;">

				<!-- About Community Side Bar Left
          ================================================= -->
				<div class="col-md-3 static">
					<div class="suggestions" id="sticky-sidebar"
						style="margin-top: 2px; border: 1px solid lightgrey; border-radius: 5px; padding: 20px; min-height: 200px;">
						<h4 class="grey" style="font-size: 2.2rem;">About Community</h4>
						<hr style="border: 0.5px solid black;">
						Description: <span class="text-muted"
							th:utext=${com.communityDescription}>Description</span>
						<hr>
						Created on: <span
							th:text="${#dates.format(com.creationDate, 'dd-MMM-yyyy')}">Created
							On</span><br> Created By: <span th:text=${com.user.userName}>Created
							By</span><br> Category: <span th:text=${com.category.categoryName}>Category</span><br>
						Total Members Joined: <span th:text=${com.membersCount}>Members</span><br>
						Total Posts: <span th:text="${#lists.size(com.posts)}">Total
							Posts</span>

					</div>
				</div>
				<div th:if="${noPosts}">
					<hr />
					<h3 style="font-style: italic; color: black;">No posts
						available right now. Visit again later!</h3>
				</div>

				<!-- About Community Side Bar Right
          ================================================= -->
				<div class="col-md-9">
					<div>
						<a th:href="@{'/community/'+${communityName}+'/top'}"><button id="btn-sort-top" class="btn btn-default sort-btn">Most Liked</button></a>
						<a th:href="@{'/community/'+${communityName}+'/popular'}"><button id="btn-sort-popular" class="btn btn-default sort-btn">Most Commented</button></a>
						<a th:href="@{'/community/'+${communityName}}"><button id="btn-sort-new" class="btn btn-default sort-btn">Newest</button></a>
					</div>
					<div class="post-content" th:each="post: ${communityPosts}"
						style="margin-top: 20px;">
						<div class="post-container">
							<div class="post-detail" style="margin-left: 0px;">
								<div class="user-info">
									<div class="row">
										<div class="col-xs-9 text-justify">
											<a
												th:href="@{'/community/'+${com.communityName}+'/'+${post.postId}}"
												class="profile-link">
												<h2 th:text="${post.title}"></h2>
											</a>
										</div>
										<div class="reaction col-xs-3">
											<span th:if="${user == null}">
												<button data-toggle="modal" data-target="#myModal"
													class="upvoteBtn btn text-muted icon ion-thumbsup"
													style="font-size: 2.5rem; background-color: white"></button>
											</span> <span th:id="'score' + ${post.postId}"
												th:text=" ${post.score}"
												style="font-size: 2.0rem; padding: 15px"></span> <span
												th:if="${user == null}">
												<button data-toggle="modal" data-target="#myModal"
													class="downvoteBtn btn text-muted fa fa-thumbs-down"
													style="font-size: 2.5rem; padding: 10px; background-color: white"></button>
											</span>
										</div>
									</div>

									<p class="text-muted"
										th:text="'posted by ' + ${post.user.userName} + ' on ' + ${#dates.format(post.creationDate, 'dd-MMM-yyyy HH:mm:ss')}"></p>
									<span
										th:text=" '&nbsp;&nbsp;' + ${post.commentsNum} + '&nbsp;&nbsp;comments '"
										class="following ion-compose"
										style="font-size: 1.5rem; margin: 0px; padding: 0px;"></span>

								</div>

								<div class="post_with_content" th:if="${post.content}">
									<div class="line-divider"></div>
									<div class="post-text text-justify">
										<span th:utext="${#strings.abbreviate(post.content, 1000)}"
											class="short-description" style="font-size: 1.8rem"></span>
									</div>
								</div>

								<div class="post_with_link" th:if="${post.link}">
									<div class="line-divider"></div>
									<div class="post-text text-justify">
										<a th:href="${post.link}" th:text="${post.link}"
											style="font-size: 1.8rem" target="_blank"></a>
									</div>
								</div>

								<div class="post_with_media" th:if="${post.imageUrl}">
									<div class="line-divider"></div>
									<img th:src="'/postImages/' + ${post.postId} + '.png'"
										alt="post-image" class="img-responsive post-image" />
								</div>
							</div>
						</div>
					</div>

					<div th:if="${!communityPosts.isEmpty()}">
						<div class="row page" style="margin-top: 30px;">
							<div class="form-group col-xs-6 col-md-3"
								style="margin-left: 40px; display: inline;">
								<div class="row" style="margin-bottom: 40px;">
									<div class="col-xs-4 h4">Page:</div>
									<div class="col-xs-8">
										<select class="form-control pagination" id="pageSizeSelect"
											style="margin-top: 0px;">

											<option th:each="pageSize : ${pageSizes}"
												th:text="${pageSize}" th:value="${pageSize}"
												th:selected="${pageSize} == ${selectedPageSize}"><span
													th:text="${pageSize}"></span>
											</option>

										</select>
									</div>
								</div>
							</div>
							<div th:if="${communityPosts.totalPages != 1}"
								class="form-group col-xs-6 col-md-* pagination-centered"
								style="margin-top: -20px;">
								<ul class="pagination">
									<li th:class="${communityPosts.number == 0} ? disabled"><a
										th:if="${user == null}" class="pageLink"
										th:href="@{''(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
										<a th:if="${user != null}" class="pageLink"
										th:href="@{''(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
									</li>
									<li th:class="${communityPosts.number == 0} ? disabled"><a
										th:if="${user == null}" class="pageLink"
										th:href="@{''(pageSize=${selectedPageSize}, page=${communityPosts.number})}">&larr;</a>
										<a th:if="${user != null}" class="pageLink"
										th:href="@{''(pageSize=${selectedPageSize}, page=${communityPosts.number})}">&larr;</a>
									</li>
									<li
										th:class="${communityPosts.number == (page - 1)} ? 'active pointer-disabled'"
										th:each="page : ${#numbers.sequence(communityPostsPager.firstButton, communityPostsPager.finalButton)}">
										<a th:if="${user == null}" class="pageLink"
										th:href="@{'' (pageSize=${selectedPageSize}, page=${page})}"
										th:text="${page}"></a> <a th:if="${user != null}"
										class="pageLink"
										th:href="@{'' (pageSize=${selectedPageSize}, page=${page})}"
										th:text="${page}"></a>
									</li>
									<li
										th:class="${communityPosts.number + 1 == communityPosts.totalPages} ? disabled">
										<a th:if="${user == null}" class="pageLink"
										th:href="@{'' (pageSize=${selectedPageSize}, page=${communityPosts.number + 2})}">&rarr;</a>
										<a th:if="${user != null}" class="pageLink"
										th:href="@{'' (pageSize=${selectedPageSize}, page=${communityPosts.number + 2})}">&rarr;</a>
									</li>
									<li
										th:class="${communityPosts.number + 1 == communityPosts.totalPages} ? disabled">
										<a th:if="${user == null}" class="pageLink"
										th:href="@{'' (pageSize=${selectedPageSize}, page=${communityPosts.totalPages})}">&raquo;</a>
										<a th:if="${user != null}" class="pageLink"
										th:href="@{'' (pageSize=${selectedPageSize}, page=${communityPosts.totalPages})}">&raquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<!-- Footer
    ================================================= -->
		<footer class="navbar navbar-fixed-bottom" th:include="footer::footer"></footer>

		<!--preloader-->
		<div id="spinner-wrapper">
			<div class="spinner"></div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog"
			style="margin-top: 20vh;">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" style="font-size: 3rem;">Login</h4>
					</div>
					<div class="modal-body h4">
						<p>In order to UpVote or DownVote, you are required to be
							logged in.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

		<!-- Scripts
    ================================================= -->
		<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery.sticky-kit.min.js}"></script>
		<script th:src="@{/js/jquery.scrollbar.min.js}"></script>
		<script th:src="@{/js/script.js}"></script>

		<script th:inline="javascript">
			function votePostNotSignIn() {
				alert("Please login or register to vote!");
			}

			$("#pageSizeSelect").change(function() {
				var pageSize = $('option:selected', $(this)).text();
				var curr_url = window.location.href;
				var beforeQueMark = curr_url.split('?')[0];
				var afterQueMark = curr_url.split('?')[1];

				var final_url = beforeQueMark + '?pageSize=' + pageSize;
				window.location = final_url;
			});
			
			$("#btn-sort-top").click(function() {
				var curr_url = window.location.href;
				var final_url = curr_url + "/top";
				console.log(final_url);
				window.location = final_url;
			});
			
			$("#btn-sort-popular").click(function() {
				var curr_url = window.location.href;
				var final_url = curr_url + "/popular";
				console.log(final_url);
				window.location = final_url;
			});
		</script>
</body>
</html>
