.container-fluid,
.container{
    max-width: 960px;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
    width: 100%;
    padding: 15px;
}

.login-page {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.login1 {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login2 {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h1 {
    text-align: center;
}

.bg-company-blue {
    background-color: lightblue;
}

.bg-company-darkblue {
    background-color: darkblue;
}

.bg-company-darkblue a{
    color: white;
}

.fillin {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    padding: 15px;
}

.submitandcancel {
    margin-top: 20px;
    text-align: center;
}

.changepassword {
    text-align: center;
}

.page {
    text-align: center;
}

.logo {
    display:block;
    margin: 0;
}

.redditor {
    margin: 20px 0;
    text-align: center;
}

.created-by {
    text-align: center;
}

ul.nav a:hover { color: black !important; }
nav.navbar.navbar-dark.bg-company-blue {
    margin-bottom: 0;
}

.comment-block {
    margin-top: 20px;
}

.linkButton {
     margin-top: 14px;
     background: none;
     border: none;
     color: #337ab7;
     font-size: 14px;
     cursor: pointer;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tooltip-wrapper {
}

.tooltip-wrapper .btn[disabled] {
  /* don't let button block mouse events from reaching wrapper */
  pointer-events: none;
}

.tooltip-wrapper.disabled {
  /* OPTIONAL pointer-events setting above blocks cursor setting, so set it here */
  cursor: not-allowed;
}

.vote-container {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}

.content-inner-container {
    display: flex;
    flex-direction: row;
}

.thumbnail {
    margin: 20px 10px;
}

.text-content {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}

.post-info-container {
    display: flex;
    flex-direction: row;
}

.post-container {
    border-radius: 15px;
    background-color: white;
    margin: 5px;
}

.vote-score {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.page-container {
    display: flex;
    flex-direction: row;
}

.side-column {
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.first-side-item {
    height: 55px;
}

.home-user, .hot-news {
    border-radius: 10px;
    background-color: white;
    margin: 20px 0px;
    padding: 15px;
}

.post-area-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
    width: 70%;
}

.post-area-container-mypost {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70%
}

.create-post-button {
    margin: 10px 0;
}

.main-background {
    background-color: #DAE0E6;
}

#deco-title {
    display: flex;
    flex-direction: row;
}

#top-image {
   background-size: contain;
}

.edit-delete {
    display: flex;
    flex-direction: row;
}

.edit-delete button {
    margin-right: 20px;
}

.extra-info {
    font-style: italic;
}

.mypost-header {
    background-color: white;
    border-radius: 5px;
}

div.container.home{
    padding: 0px;
}

div.home-user.side-item-mypost{
    margin-top: 5px;
}

.author-name {
    margin: 0;
    padding-top: 20px;
}

.mypost-header nav {
    margin: 0;
}

.comment-input {
    display: flex;
    flex-direction: column;
}

.submit-cancel {
    margin-top: 20px;
}

.title-postdetail {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    padding: 10px 0;
}

.vote-content-postdetail {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.title-info-postdetail {
    display: flex;
    flex-direction: column;
}

.postdetail {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#post-title {
    margin: 0;
}

#author-time {
    margin: 0;
    color: grey;
    display: flex;
    flex-direction: row;
}

#author-time a {
    margin: 0 5px;
}

#sign-in-to-comment {
    color: red;
    margin-left: 15px;
}

.postdetail-container {
    background-color: #DAE0E6;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.comment-block {
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
}

#mypost-container {
    background-color: #DAE0E6;
    padding: 0 30px 150px 30px;
}

h1.author-name {
    margin-bottom: 20px;
}

.author-time-postdetail {
    display: flex;
    flex-direction: row;
}

a.author-link-postdetail {
    margin-right: 5px;
}

.post-title-mycomment {
    display: flex;
    flex-direction: row;
}

.title-info-mycomment p {
    margin-left: 5px;
    font-size: 14px;
    color: grey;
    padding-top: 3px;
}

.title-info-mycomment a {
    margin-left: 5px;
    padding-top: 3px;
    font-size: 14px;
}

div.title {
    font-size: 18px;
    margin-top: 3px;
}

.title-info-mycomment {
    display: flex;
    flex-direction: row;
}

.mycomment-items-container {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.mycomment-edit-delete {
    display: flex;
    flex-direction: row;
}

.mycomment-container {
    background-color: #DAE0E6;
    padding: 30px;
}
.comment-part-container {
    display: flex;
    flex-direction: row;
}

.comment-part-container-1 {
    background-color: #ffffcc;
    color: #ffffcc;;
    margin-right: 10px;
}

.mycomment-page-container {
    display: flex;
    flex-direction: row;
}

.createpost-field {
    margin: 10px 0;
}

.image-in-post{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.image-in-tab {
    width: 28.531px;
    height: 20px;
    overflow: hidden;
    margin-right: 3px;
}

.tab-title {
    display: flex;
    flex-direction: row;
}

.img-itself {
    height: 100%;
}

.tab-cover {
    margin-top: 10px;
}

.nav-tabs>li>div {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li.disabled > div:hover,
.nav > li.disabled > div:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > div,
.nav .open > div:hover,
.nav .open > div:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}

.nav > li > div:hover,
.nav > li > div:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > div {
  color: #777777;
}

.nav > li > div {
  position: relative;
  display: flex;
  padding: 10px 15px;
}

.nav-tabs > li > div {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > div:hover {
  border-color: #eeeeee #eeeeee #ddd;
}
.nav-tabs > li.active > div,
.nav-tabs > li.active > div:hover,
.nav-tabs > li.active > div:focus {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-justified > li > div {
  text-align: center;
  margin-bottom: 5px;
}

.create-an-account-to-comment {
    border: 1px black solid;
    background-color: #FFFDE0;
    padding: 20px;
    width: 40%;
}

.title-link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}

a:link {
    text-decoration: none;
}

.postdetail-image-container {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.video-post {
    width: 470px;
    height: 264.375px;
    overflow: hidden;
}

.mycomment-body, .createpost-body {
    background-color: #DAE0E6;
}

body {
    background-color: #DAE0E6;
}
.createpost {
    background-color: white;
    margin-top: 10%;
    border-radius: 5%;
    padding: 20px 50px;
    width: 500px;
}

.createpost-container {
    display: flex;
    flex-direction: row;
}

h3#post-title {
   margin-bottom: 20px;
}

.subReddit-left {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.subReddit-container {
    display: flex;
    flex-direction: row;
}

.subReddit {
    padding: 30px;
}

div.subReddit-left {
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;
}

.subReddit-container-inner {
    margin-top: 20px;
    width: 80%;
}

.createSubReddit-container {
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 30px;
}

.createSubReddit-left {
    margin-right: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
}

.createSubReddit-right {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    width: 30%;
}

.subreddit-item {
    margin: 10px 0;
    border: solid grey 1px;
    padding: 5px 30px;
}

.createpost-container-inner {
    width: 70%;
}

.subReddits-container {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.subReddits-left {
    width: 70%;
    padding-top: 10px;
}

.subReddits-right {
    width: 30%;
}

.subReddits-left-inner {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 20px 10px 0;
}

div.subReddits-title {
    font-size: 18px;
}

.mycomment-main-column {
    width: 70%;
}

div.mycomment-main-column {
    margin-top: 30px;
}

.page-container-left {
    width: 70%;
}

div.page-container {
    margin-left: 30px;
    margin-top: 30px;
}

div.home-user.side-item {
    margin-top: 30px;
}

.mySubReddits-container {
    display: flex;
    flex-direction: row;
}

.mySubReddits-container-left {
    width: 70%;
    margin-top: 40px;
}

.mySubReddit-item {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

div.container-fluid.fillin {
    background-color: white;
    margin-top: 10%;
    border-radius: 5px;
}

.register-field {
    margin: 10px 0;
}